*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header__title {
    align-self: center;
    display: flex;
    margin-right: 500px;
}

main {
    margin-top: 30px;
    text-align: center;
}

footer {
    margin-top: 30px;
    text-align: center;
}