*,
*::before,
*::after {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h1 {
    margin-right: 320px;
    align-self: center;
}

.result {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 1em;
}

main {
    display: flex;
    flex-direction: column;
}

main img {
    margin-top: 1em;
    align-self: center;
}

footer {
    margin-top: 10px;
    text-align: center;
    max-width: 75ch;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));
    padding: 15px;
    border-radius: 10px;
    background-color: grey;
}

input {
    border: none;
}

button {
    padding: 10px;
    border: 1px solid grey;
    cursor: pointer;
    will-change: auto;
    border-radius: 2px;
}

button:active {
    opacity: 0.8;
}

.zero {
    grid-column: span 3;
}

.type {
    grid-column: span 3;
}

.zeroing {
    grid-column: span 3;
    background-color: #8f0016;
    color: white;
}

.calc {
    grid-column: span 3;
    background-color: green;
    color: white;
}

.nothing {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    background-color: yellow;
    border-radius: 10px;
    margin-bottom: 10px;
}