*,
*::before,
*::after {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h1 {
    margin-right: 320px;
    align-self: center;
}

.result {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 1em;
}

main {
    display: flex;
    flex-direction: column;
}

main img {
    margin-top: 1em;
    align-self: center;
}

footer {
    margin-top: 10px;
    text-align: center;
    max-width: 75ch;
}