*,
*::before,
*::after {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a, p {
    text-decoration: none;
    margin-top: 10px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h1 {
    margin-right: 320px;
    align-self: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
}

label, input {
    margin-top: 10px;
}

select, footer {
    margin-top: 10px;
}

textarea {
    margin: 20px;
}